test/Logs
test/Temp
test/Assembly-CSharp.csproj
test/Library/ArtifactDB
test/Library/ScriptAssemblies/Assembly-CSharp.dll
test/Library/SourceAssetDB
test/Library/StateCache/Hierarchy/d28e59-mainStage.json
test/Library/StateCache/SceneView/29095c-mainStage.json
test/test.sln
test/obj
